body {
    background-color: rgb(141, 141, 240);
}
#mydiv {
    text-align: center;
}

#label1 {
    font-size: 4em;
    color: burlywood;
}
#label2 {
    font-size: 4em;
    color: brown;
}
#label3 {
    font-size: 4em;
    color: rgb(96, 3, 106);
}
#mybutton {
    font-size: 3em;
    font-family: Verdana;
    cursor: pointer;
    color: red;
    background-color: yellow;
    transition: background-color 0.25s;
}

#mybutton:hover{
    background-color: rgb(59, 59, 2);
}